.home-section{
    background-color: #ffffff;
    background-image:  linear-gradient(135deg, #d8fff6 25%, transparent 25%), linear-gradient(225deg, #d8fff6 25%, transparent 25%), linear-gradient(45deg, #d8fff6 25%, transparent 25%), linear-gradient(315deg, #d8fff6 25%, #ffffff 25%);
    background-position: 13px 0, 13px 0, 0 0, 0 0;
    background-size: 26px 26px;
    background-repeat: repeat;
}
.home-section> h4{
    padding: 30px;
    text-align: center;
    font-size: 2em;
}
#appointment_form{
    width: 80%;
    max-width: 700px;
    background: rgb(227, 255, 245);
    box-shadow: 4px 4px 0 #1BB291;
    margin: 0 auto;
    border: 1px solid #1BB291;
    border-radius: 15px;
    height: fit-content;
}
#form_btns{
    display: flex;
    justify-content: space-between ;
}