body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.nav--links{
    color:#1BB291;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s;
    }
    .nav--links:hover{
        text-decoration: underline;
        color:#1BB291;
    }
    li{
        list-style-type: none;
    }
    #main-nav > ul{
        display: flex;
        gap: 43%;
        margin: 0 0 0px 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2em;
        order: 1;
        padding:20px ;
    }
    #main-nav{
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        transition: 0.3s;
        z-index: 998;
    }
    .main-nav-bg{
        background: rgba(255, 255, 255, 0.795);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.644);
        backdrop-filter: blur(10px);
    }
    #home-link{
        order: 3;
    }
    #home-link > img{
        height: 45px;
        margin: -10px 40px 0 0;
    }
    #menu-button> img{
        cursor:pointer;
        display: none;
        padding: 15px;
    }
    #menu-button{
        order: 2;
    }
    #mobile-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    background: white;
    right: 0px;
    width: 50vw;
    height: 100%;
    z-index: 999;
    animation: slide-left 0.7s;
    box-shadow: 0 0 1350px black;
    display: none;
    }
    #mobile-nav > ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin-bottom: 40px;
    }
    .mobile-nav-links{
        color:#1BB291;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.3em;
        transition: 0.3s;
    }
    #mobile-nav-blind{
        position: fixed;
        top: 0px;
        width: 100vw;
        height: 100%;
        backdrop-filter: blur(6px);
        z-index: 1;
        display: none;
    }
    #mobile-nav > a:hover{
        scale:1.3;
    }
    #mobile-nav > a{
        transition: 0.3s;
    }
    .center-img{
        margin:0 auto;
        display: block;
        height: 70px;
    }
    @keyframes slide-left {
        0%{
            transform: translateX(42vw);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes slide-right {
        100%{
            transform: translateX(42vw);
            opacity: 0;
        }
    }
    @media (max-width:730px) {
        .nav--links{
            display: none;
            order: 2;
        }
        #menu-button> img{
        display: unset;
        }
        #menu-button{
        order: 1;
        }
    }
    @media (max-width: 420px) {
       
    }