#video_results{
    width: 80%;
    max-width: 700px;
    margin: 70px auto 30px auto;
}

hr{
    height: 1px;
    width: 80%;
    background: rgb(124, 124, 124);
    margin: 0 auto;
}
#video_results hr{
    width: 100% !important;
}

.video-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-wrapper>iframe{
    border-radius: 15px;
    width: 100%;
    height: 300px;
    margin: 10px 0;
    max-width: 800px;
    border:none;
}
.vid_title{
    font-size: 1.2em;
    font-weight: 600;
    width: 100%;
    margin: 0;
}
.vid_desc{
    width: 100%;
    margin: 0;
}

#vid_preloader {
    transition: 0.2s;
    margin: 0 auto;
    width: fit-content;
}
.ip {
	width: 6em;
	height: 3em;
}
.ip__track {
	stroke: hsl(223,90%,90%);
	transition: stroke 0.3s;
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 1s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}