{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Articles - TU Counsel{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articleslist.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/109fe23f15.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}"> -->
</head>

<body>
    
    {% include 'sidebar.html' %}
    <section class="home-section" style="background-color: white;" id="btn;">
        <form method="GET" id="searchbar">
            <div id="search_btn" class="bx bx-search"></div>
            <input name="search-area" type="search" placeholder="Search articles..." id="search_input"/>
        </form>
        <section id="articles_main">
            <div id="article_reader">
                <h3 id="reader_title">Lorem Ipsum is the title</h3>
                <img src="https://i.pinimg.com/originals/f1/10/c2/f110c2ba79792fce38427d2ad15acf6d.jpg" alt="">
                <p id="reader_tags">tag1,tag2,tag3,tag4</p>
                <p id="reader_content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic fuga nostrum illo veniam quaerat fugit temporibus! Molestiae dolor fuga nesciunt accusantium reprehenderit fugit minima, aspernatur temporibus animi dolorum enim debitis Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, dolores.</p>
            </div>
            <div id="article_grid_wrapper">
                <div id="article_grid">
                    {% for article in articles %}
                    <div class="card-article" onclick="showArticle('{{ article.title }}', '{{ article.tags }}', '{{ article.content }}')">
                        <img src={{article.image_url}} alt="">
                        <div class="title_lnk">
                        <p class="article-title">{{ article.title }}</p>
                        {% if request.user.is_superuser %}
                        <a href="{% url 'edit_article' article.slug %}" class="edit_lnk">Edit</a>
                        {% else %}
                        {% endif %}
                        </div>
                        <div class="article_tags">{{ article.tags }}</div>
                        <p class="article-intro">{{ article.content|truncatechars:50 }}</p>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </section>
</body>
<script src="{% static 'js/articleslist.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</html>