{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Articles - TU Counsel{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/articleslist.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/109fe23f15.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}"> -->
</head>

<body>
    
    {% include 'sidebar.html' %}
    <section class="home-section" style="background-color: white;" id="btn;">
        <form method="GET" id="searchbar">
            <div id="search_btn" class="bx bx-search"></div>
            <input name="search-area" type="search" placeholder="Search articles..." id="search_input"/>
        </form>
        <hr style="width:
        60%; margin: 30px auto;">
        <section id="articles_main">
            <div id="article_reader">
            </div>
            <div id="article_grid_wrapper">
                <div id="mobile_reader"></div>
                <div id="expand_grid"> &#8592; Close article</div>
                <div id="article_grid">
                    {% for article in articles %}
                    <div class="card-article" 
                    onclick="showArticle('{{ article.title }}', '{{ article.tags }}', '{{ article.image_url }}')">
                    <p style="display: none;" class="content_parameter">{{ article.content }}&s#3DEMACATION{{ article.title }}</p>
                        {% if article.image_url %}
                        <img src={{article.image_url}} alt="">
                        {% endif %}
                        <div class="title_lnk">
                        <p class="article-title">{{ article.title|truncatechars:45 }}</p>
                        
                        {% if request.user.is_superuser %}
                        <a href="{% url 'edit_article' article.slug %}" class="edit_lnk">Edit</a>
                        {% else %}
                        {% endif %}
                        </div>
                        <div class="article_tags">{{ article.tags }}</div>
                        <p class="article-intro">{{ article.content|truncatechars:60 }}</p>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </section>
</body>
<script src="{% static 'js/articleslist.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</html>