{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/109fe23f15.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
</head>

<body>
    {% include 'sidebar.html' %}
    {% block body %}
    <section class="home-section" style="background-color: white;" id="btn;">
        {% if request.user.is_superuser %}
            <h4 style="margin-left: 70px;">Select a student to chat with</h4>
            {% for user in users %}
            <div style="margin-left: 70px;">
                <a href="{% url 'chat' request.user.id user.id %}" id="user{{ user.id }}" class="collection-item row">
                    <div class="col s3">
                        <span class="title" style="font-weight: bolder"><i class='bx bx-user'></i>{{ user.first_name }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endif %}
        <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
            {% block messages %}

            {% endblock %}
        </div>
        <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col s11">
                    <div class="input-field">
                        <input id="id_message" name="message" type="text" placeholder="Type your message..">
                    </div>
                </div>
                <div class="col s1" style="line-height: 80px">
                    <button class="btn btn-floating lighten-2 waves-effect waves-light"
                        style="background-color: gray"><i class="material-icons">send</i></button>
                </div>
            </div>
        </form>
    </section>
    <script src="{% static 'js/chat.js' %}"></script>
    <script>
        // For receiving
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send('{{ request.user.first_name }}', '{{ receiver.first_name }}', message.val());
                message.val('');
            })
        })
    </script>
    {% endblock %}
</body>

</html>