{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Dashboard - TU Counsel {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/109fe23f15.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"> </script>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}"> -->
</head>

<body>
	{% include 'sidebar.html' %}
	<section class="home-section" style="background-color: white;" id="btn">
            <div id="welcome-message">
                {% if not request.user.is_superuser %}
                    <h2>
                        Welcome {{ request.user.first_name|title }} {{ request.user.last_name|title }} <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="30px" style="padding-bottom: 13px;">
                    </h2>
                {% else %}
                <h2>Admin Dashboard</h2>
                {% endif %}
            </div>
		<div id="dashboard_main">
            <div id="appts_dash" class="dash_cards">
                {% if request.user.is_superuser %}
                    {% if appointments|length %}
                        <p class="tile_heading">Recently Booked Appointments <i class='bx bx-calendar-check' style="font-size: 24px;"></i></p>
                        <div>
                            {% for appointment in appointments %}
                                <a href="{% url 'booked_appointments' %}" class="row_card">
                                    <div>{{ appointment.booked_by.first_name|title }} {{ appointment.booked_by.last_name|title }}</div>
                                    <div> - </div>
                                    <div>{{ appointment.date }}</div>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="tile_heading">You have no booked appointments yet</p>
                    {% endif %}
                {% else %}
                    {% if user_appointments|length %}
                        <p class="tile_heading">Your Recently Booked Appointments <i class='bx bx-calendar-check' style="font-size: 24px;"></i></p>
                        <div>
                            {% for appointment in user_appointments %}
                                <a href="" class="row_card">
                                    <div>{{ appointment.date }}</div>
                                    <div> - </div>
                                    {% if appointment.session_type == "in_person" %}
                                        <div>In-Person</div>
                                    {% else %}
                                        <div>Virtual</div>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                    <p class="tile_heading" style="text-align: center;">You have no booked appointments. <br> Book an appointment <br> <a class="appt_dash_link" style="background: white; padding: 0 5px; border-radius: 5px;"href="{% url 'appointments' %}">here</a></p>
                    {% endif %}
                    
                {% endif %}
            </div>
            <div id="chat_dash" class="dash_cards">
                {% if request.user.is_superuser %}
                    {% if unread_chats.total_unread_chats > 0 %}
                        <p class="tile_heading centered">You have {{ unread_chats.total_unread_chats }} new message{{ j| pluralize:'s'}} <i class='bx bx-message-dots' style="font-size: 18px;"></i></p>
                        {% for i,j in unread_chats.items %}
                            {% if i != 'total_unread_chats' %}
                            <a href="{% url 'chat' 1 j.1 %}" class="row_card">
                                {{ i }}  <div >{{ j.0 }}</div>
                            </a>
                            
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="tile_heading centered">You have no unread messages <i class='bx bx-message-dots' style="font-size: 18px;"></i><p/>
                    {% endif %}`
                {% else %}
                    {% if student_unread_chats %}
                        <p class="tile_heading centered">You have {{ student_unread_chats }} new message{{ student_unread_chats| pluralize:'s'}} <i class='bx bx-message-dots' style="font-size: 18px;"></i></p>
                        <a href="{% url 'chat' request.user.id 1 %}" id="chat_link" style="font-size: 0.8em; line-height: 1.4em;">Click here to view your messages</a>
                    {% else %}
                        <p class="tile_heading centered">You have no unread messages <i class='bx bx-message-dots' style="font-size: 18px;"></i>
                            <a href="{% url 'chat' request.user.id 1%}" id="chat_link" style="font-size: 0.8em; line-height: 1.4em;">Click here to chat with the Counsellor</a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
                <div id="articles_dash" class="dash_cards">
                    <p class="tile_heading" >Featured Articles <i class="fa fa-list-alt"  style="font-size: 20px;"></i></p>
                    {% for article in articles %}
                    <a class="row_card" href="{% url 'articles' %}">
                        {{ article.title }} 
                    </a>
                    {% endfor %}
                </div>
            <div id="vids_dash" class="dash_cards" style="position: relative;">
                    <div id="prev_vid" class="vid_controls"><</div>
                    <p class="tile_heading">Featured Videos <i class='bx bx-video' style="font-size: 20px;"></i></p>
                    <iframe id="vidFrame" src="https://www.youtube.com/embed/76yqErAib5g"></iframe>
                    <div id="next_vid" class="vid_controls">></div>
                    <a id="vid_link" href="{% url 'videos' %}">View more videos</a>
            </div>
        </div>
	</section>
    <script>
        const prevBtn = document.querySelector('#prev_vid');
        const nextBtn = document.querySelector('#next_vid');
        const videoFrame = document.querySelector('#vidFrame');

        const vidArray = ['76yqErAib5g', '6sjvCx2o76M', 'XWr0AEWUY5M', 'VgdAcENXy84']

        let vidIndex = 0;

        prevBtn.addEventListener('click', ()=>{
            vidIndex--;
            if(vidIndex < 0){vidIndex = vidArray.length - 1};
            videoFrame.src = `https://www.youtube.com/embed/${vidArray[vidIndex]}`;
            console.log(vidIndex)
        })
        nextBtn.addEventListener('click', ()=>{
            vidIndex++;
            if(vidIndex > vidArray.length - 1){vidIndex = 0};
            videoFrame.src = `https://www.youtube.com/embed/${vidArray[vidIndex]}`;
            console.log(vidIndex)
        })
    </script>
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>