{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<main>
    <section id="hero">
        <div id="hero-txt">
            <p class="hero-txt-small">Let's help you</p>
            <p class="hero-txt-big">Discover your strength,<br>conquer your fears,<br>
                & live your <span>best life</span></p>
            <div id="hero-btn-container">
                <a id="get-started" href="{% url 'signup' %}" class="hero-btn">Get Started</a>

                <a id="log-in" href="{% url 'login' %}" class="hero-btn">Log in</a>
            </div>
        </div>
    </section>
    <section id="about">
        <img src="{% static 'images\about-illustration.png' %}" alt="">
        <div id="about-text-wrap">
            <section id="about-text">
                <h2>About</h2>
                <p>This is Trinity University online counselling system, where students can visit the webpage, read articles related to counselling, watch helpful videos, ask questions and chat with the Counsellor. If they are not satisfied they can book an appointment with the Counsellor of the school who is a well trained professional counsellor and also the school Chaplain, here the students get to express themselves when they have a conversations with the counsellor. 
                </p>
            </section>
        </div>
    </section>
    <section id="faqs">
        <div id="faq-images">
            <img src="{% static 'images\faqs.png' %}" alt="frequently asked questions">
            <img src="{% static 'images\faq-illustration.png' %}" alt="">
        </div>
        <div id="faq-container">
            <div id="q-wrap-1" class="q-wraps">
                    
            </div>
            <div id="q-wrap-2" class="q-wraps">
                
            </div>
            <div id="q-ans" class="q-wraps">
                
            </div>
        </div>
    </section>
</main>



{% endblock content %}