{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<nav id="main-nav">
    <div id="menu-button">
        <img src="{% static 'images\menu-bar.png' %}" alt="menu" style="height: 75px;">
    </div>
    <ul>
        <li><a class="nav--links" href="#about">About</a></li>
        <li><a class="nav--links" href="#faqs">FAQs</a></li>
        <li><a class="nav--links" href="#contact">Contact</a></li>
    </ul>
    <a id="home-link" href="#"><img src="{% static 'images\tucounsel-logo.png' %}" alt=""></a>
</nav>
<nav id="mobile-nav">
    <ul>
        <li><a class="mobile-nav-links" href="#about">About</a></li>
        <hr>
        <li><a class="mobile-nav-links" href="#faqs">FAQs</a></li>
        <hr>
        <li><a class="mobile-nav-links" href="#contact">Contact</a></li>
    </ul>
    <hr>
     <a href="https://github.com/YoungAli/Real-counselling/"><img style="height: 30px;" src="{% static 'images\github.png' %}" alt=""></a>
    </div>
</nav>
<div id="mobile-nav-blind"></div>

<script src="{% static 'js/script.js' %}"></script>