{% load static %}
<div class="sidebar">
    <div class="sidebar_btn">
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="{% url 'dashboard' %}">
                <i class='bx bxs-inbox'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'create_article' %}">
                    <i class='bx bx-plus' style="font-size: 29px;"></i>
                    <span class="links_name">Publish an Article</span>
                </a>
                <span class="tooltip">Publish an Article</span>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'articles' %}">
                <i class="fa fa-list-alt" aria-hidden="true" style="font-size: 20px;"></i>
                {% if request.user.is_superuser %}
                <span class="links_name">View all Articles</span>
                {% else %}
                <span class="links_name">Articles</span>
                {% endif %}
            </a>
            {% if request.user.is_superuser %}
            <span class="tooltip">View all Articles</span>
            {% else %}
            <span class="tooltip">Articles</span>
            {% endif %}
        </li>
        <li>
            <a href="{% url 'videos' %}">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                <span class="links_name">Videos</span>
            </a>
            <span class="tooltip">Videos</span>
        </li>
        {% if request.user.is_superuser %}
        <li class="dropdown_margin" id="dropdown_btn">
            <a href="#">
                <!-- <i class='bx bxs-calendar'></i> -->
                <i class='bx bx-calendar'></i>
                <span class="links_name">Appointments</span>
            </a>
            <span class="tooltip">Appointments</span>
        </li>
        <li class="appt_menu_items">
            <a href="{% url 'create_appointment' %}">
                <i class='bx bx-calendar-plus'></i>
                <span class="links_name">Create Appointment Slot</span>
            </a>
            <span class="tooltip">Create Appointment Slot</span>
        </li>
        <li class="appt_menu_items"> 
            <a href="{% url 'appointments' %}">
                <i class='bx bx-calendar-event'></i>
                <span class="links_name">Appointment Slots</span>
            </a>
            <span class="tooltip">Appointment Slots</span> 
        </li>
        <li class="appt_menu_items">
            <a href="{% url 'booked_appointments' %}">
                <i class='bx bx-calendar-check'></i>
                <span class="links_name">Booked Appointments</span>
            </a>
            <span class="tooltip">Booked Appointments</span>
        </li>
        {% else %}
        <li>
            <a href="{% url 'appointments' %}">
                <i class='bx bxs-calendar-check'></i>
                <span class="links_name">Schedule Appointment</span>
            </a>
            <span class="tooltip">Schedule Appointment</span>
        </li>
        {% endif %}
        <li>
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'chats' %}">
                    <i class="bx bx-chat" aria-hidden="true"></i>
                    <span class="links_name">Live chat </span>
                </a>
            {% else %}
            <a href="{% url 'chat' request.user.id 1 %}">
                <i class="bx bx-chat" aria-hidden="true"></i>
                <span class="links_name">Live chat </span>
            </a>
            {% endif %}
            {% endif %}
            <span class="tooltip">Live chat</span>
        </li>
        <li class="" user_profile>
            <a href="{% url 'logout' %}">
                <i class='bx bx-log-in-circle'></i>
                <span class="links_name">Sign Out</span>
            </a>
            <span class="tooltip">Sign Out</span>
        </li>
    </ul>
</div>
<script src="{% static 'js/sidebar.js' %}"></script>
