{% load static %}
<div class="sidebar">
    <div class="sidebar_btn">
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="{% url 'dashboard' %}">
                <i class='bx bxs-inbox'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'create_article' %}">
                    <i class='bx bx-plus' style="font-size: 29px;"></i>
                    <span class="links_name">Write an Article</span>
                </a>
                <span class="tooltip">Write an Article</span>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'articles' %}">
                <i class="fa fa-list-alt" aria-hidden="true" style="font-size: 20px;"></i>
                <span class="links_name">Articles</span>
            </a>
            <span class="tooltip">Articles</span>
        </li>
        <li>
            <a href="{% url 'videos' %}">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                <span class="links_name">Videos</span>
            </a>
            <span class="tooltip">Videos</span>
        </li>
        {% if request.user.is_superuser %}
        <li class="dropdown_margin" id="dropdown_btn">
            <a href="#">
                <i class='bx bx-message-square-add'></i>
                <span class="links_name">Appointments</span>
            </a>
            <span class="tooltip">Appointments</span>
        </li>
        <li class="appt_menu_items">
            <a href="{% url 'create_appointment' %}">
                <i class='bx bx-message-square-add'></i>
                <span class="links_name">Create an appointment</span>
            </a>
            <span class="tooltip">Create an appointment</span>
        </li>
        <li class="appt_menu_items"> 
            <a href="{% url 'appointments' %}">
                <i class='bx bx-message-square-add'></i>
                <span class="links_name">Created appointments</span>
            </a>
            <span class="tooltip">Created appointments</span> 
        </li>
        <li class="appt_menu_items">
            <a href="{% url 'booked_appointments' %}">
                <i class='bx bx-message-square-add'></i>
                <span class="links_name">Booked appointments</span>
            </a>
            <span class="tooltip">Booked appointments</span>
        </li>
        {% else %}
        <li>
            <a href="{% url 'appointments' %}">
                <i class='bx bx-message-square-add'></i>
                <span class="links_name">Book appointment</span>
            </a>
            <span class="tooltip">Book appointment</span>
        </li>
        {% endif %}
        <li>
            <a href="">
                <i class="bx bx-chat" aria-hidden="true"></i>
                <span class="links_name">Live chat</span>
            </a>
            <span class="tooltip">Live chat</span>
        </li>
        <li class="" user_profile>
            <a href="{% url 'logout' %}">
                <i class='bx bx-log-in-circle'></i>
                <span class="links_name">Sign Out</span>
            </a>
            <span class="tooltip">Sign Out</span>
        </li>
    </ul>
</div>
<script src="{% static 'js/sidebar.js' %}"></script>
