{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Videos - TU Counsel{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/videos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/109fe23f15.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}"> -->
</head>

<body>

    {% include 'sidebar.html' %}
    <section id="btn" class="home-section" style="background-color: white;">
        <div id="searchbar"><div id="search_btn" class="bx bx-search"></div><input id="search_input" type="search" placeholder="Search for Videos"></div>
        
        <div id="video_results">
        </div>
        <hr>
        <div id="vid_preloader">
            <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                        <stop offset="0%" stop-color="#5ebd3e" />
                        <stop offset="33%" stop-color="#ffb900" />
                        <stop offset="67%" stop-color="#f78200" />
                        <stop offset="100%" stop-color="#e23838" />
                    </linearGradient>
                    <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                        <stop offset="0%" stop-color="#e23838" />
                        <stop offset="33%" stop-color="#973999" />
                        <stop offset="67%" stop-color="#009cdf" />
                        <stop offset="100%" stop-color="#5ebd3e" />
                    </linearGradient>
                </defs>
                <g fill="none" stroke-linecap="round" stroke-width="16">
                    <g class="ip__track" stroke="#ddd">
                        <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                        <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                    </g>
                    <g stroke-dasharray="180 656">
                        <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                        <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                    </g>
                </g>
            </svg>
        </div>
    </section>
    <script>
        const vidArea = document.querySelector('#video_results');
        const searchBtn = document.querySelector('#search_btn');
        const searchInput = document.querySelector('#search_input');
        let randomKeywords = ['anxiety', 'relationship', 'career', 'addiction','education', 'anger', 'mental health', 'spiritual'].sort(() => 0.5 - Math.random()).slice(0, 4).join();


        async function fetchVids(isScrolling) {
            let randomKeywords = ['anxiety', 'relationship', 'career', 'addiction','education', 'anger', 'mental health', 'spiritual'].sort(() => 0.5 - Math.random()).slice(0, 4).join();

            let response = await fetch(`https://youtube.googleapis.com/youtube/v3/search?part=snippet&maxResults=3&q=${searchInput.value? searchInput.value : randomKeywords}&videoEmbeddable=true&type=video&key=AIzaSyA4H_W3S25Jkov2f5uKxsjm_Vgmlz4Sv58`);

            let results = await response.json();
            
            let videos = await results.items.map(video => {
                return`<div class="video-wrapper">
                    <hr>
                    <p class="vid_title">${video.snippet.title}</p>
                    <iframe src="https://www.youtube.com/embed/${video.id.videoId}"></iframe>
                    <p class="vid_desc">${video.snippet.description}</p>
                </div>`
            }).join(' ');

            if (isScrolling) {
                vidArea.innerHTML += videos;
            }
            else{
                vidArea.innerHTML = videos;
            }

        }
        searchBtn.addEventListener('click', ()=>{
            if (!searchInput.value) {
                console.log("Error, no search query")
            }
            else{
                fetchVids(false);
            }
        })
        fetchVids(false);

        document.addEventListener('scroll', () => {
        if (window.scrollY >= (document.documentElement.scrollHeight - window.innerHeight)) {
            fetchVids(true);
        }
    })
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</html>